/*
!/User
!/README.md
/User/Package Control.*
!/User/Package Control.sublime-settings
!/example.sublime-project
!/Boxy Theme
User/Color Highlight.cache
User/Color Highlighter/
User/TextPastryHistory.sublime-settings
